:root {
  --border-input-color: #000;
}

.input,
.textarea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.input-label,
.textarea-label {
  margin-left: 15px;
}

.input-input,
.textarea-input {
  width: 88%;
  border: 1px solid var(--border-input-color);
  padding: 15px;
  border-radius: 20px;
}

.input:nth-child(1) {
  margin-top: 20px;
}

.textarea-input {
  width: 88%;
  max-width: 384px;
  overflow: hidden; /* Скрывает скроллбар */
  resize: none; /* Запрещает изменение размера */
  scrollbar-width: none; /* Скрывает скроллбар в Firefox */
  -ms-overflow-style: none; /* Скрывает скроллбар в IE и Edge */
}
